.message-container form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.message-container label {
  font-weight: bold;
  display: block; 
  margin-bottom: 5px;
  color: black;
}

.message-container input,
.message-container textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
}

.message-container button {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

